{% extends "base.html" %}

{% block aux %}

{% endblock %}

{% block content %}

<div id="pass">
  <ul>
    <li>
      <label for="positivity">Positivity</label>
      <input id="positivity" type="range"  min="0" max="9" value="4" />
    </li>
    <li>
      <label for="aggression">Aggression</label>
      <input id="aggression" type="range"  min="0" max="9" value="4" />
    </li>
    <li>
      <label for="speed">Speed</label>
      <input id="speed" type="range"  min="0" max="9" value="4" />
    </li>
    <li>    
      <label for="suspense">Suspense</label>
      <input id="suspense" type="range"  min="0" max="9" value="4" />
    </li>
  </ul>
  <button onclick="gmr.radio.generatePlaylist($('#positivity').val(), $('#aggression').val(), $('#speed').val(), $('#suspense').val());">Play</button>
</div>

<br /><br />

<button onclick="gmr.radio.loadPlaylist(1);">Load Playlist</button>
<button onclick="gmr.radio.updatePlaylist();">Update Playlist</button>

<ul id="playlist">
  <li>No Tracks</li>
</ul>

{% endblock %}

{% block footer %}

<div id="transport">
  <a class="transportButton" href="#" onclick="gmr.radio.previous()">&lt;&lt;</a>
  <a class="transportButton" href="#" onclick="gmr.radio.player.play()">&gt;</a>
  <a class="transportButton" href="#" onclick="gmr.radio.player.pause()">||</a>
  <a class="transportButton" href="#" onclick="gmr.radio.player.stop()">[]</a>
  <a class="transportButton" href="#" onclick="gmr.radio.next()">&gt;&gt;</a>
</div>

{% endblock %}
