<!doctype html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Game Master Radio</title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="/site_media/css/less.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
	</head>
	
	<body lang="en">
        <h1><img id="logo" src="site_media/images/gmr.png"/>Game Master Radio</h1>

		<article>
        
            <aside id="resources">
                <ul> 
                    <li><a href="/radio/register/">Free registration</a></li>
                    <li><a href="/accounts/login/">sign in now</a></li>
                </ul>
            </aside>
            
            <section>
                
                <h2>What is Game Master Radio?</h2>
                Game Master Radio provides a playlist of music that the user (A tabletop game master) can change the mood (Suspense, battle, traveling etc) to suit what is happening in the game.
                
                <h2>You mention "Game"?</h2>
                Yes, any table-top roleplaying/strategy game with a Game Master is suitable.</li>
                
                <h2>Game Master?</h2>
                To quote Wikipedia, "A Game Master (often abbreviated as GM) is a player in a multiplayer game who acts as organizer, arbitrator, and officiant in rules situations."
                
                <h2>Why is this better than listening to my CDs/mp3s/8-tracks like I am already?</h2>
                Two main reasons: 1. Due to the very vocal, social nature of many roleplaying games, we found that songs with lyrics were too destracting, or had to be played too quietly to affect the mood. 2. While Zepplin might be a staple, its nice to be able to have a variety of themed music!
            </section>
            

        
        </article>
        <hr/>
        <div id="footer">
            copyright 2009 Blackgate Research  -  twitter: <a href="http://twitter.com/#!/gamemasterradio">@gamemasterradio</a>
        </div>
	</body>
	
</html>
